{% extends "base.html" %}
{% load static %}
{% block content1 %}
<div class="row my-5">
  <div class="col-12 d-flex justify-content-center align-items-center ">
    <div class="circular-image-container">
      <img class="circular-image" src=" {% static 'images/me.jpg' %}" alt="Image">
    </div>
  </div>

  <div class="col-12 text-center mt-3">
    <h4 class="title"> Hi, my name is </h4>
      <div class="name">
        <h1> Hosam Semry </h1>
        <h1> I am a Software Engineer </h1>
        <h4>You can contact me via my Gmail account <b>semryhosam@gmail.com</b></h4>
        <br>
        <p>or through my social accounts below</p>
      </div>
  </div>

  <div class="col-12 text-center mt-3">
    <div class="col-12 d-flex justify-content-center align-items-center ">
        <a href="https://www.linkedin.com/in/hosam-semry-158032265" target="_blank" class="ms-3">
          <img src="{% static 'images/linkedin.jpg' %}" alt="linkedin" width="50" height="50" class="social_links">
        </a>

        <a href="github.com/hosamsemry/Social-Website" target="_blank" class="ms-3">
          <img src="{% static 'images/github.jpg' %}" alt="github" width="50" height="50" class="social_links">
        </a>
      </div>
  </div>
</div>


{% endblock content1 %}